# Ignore all files in the output directory
output/*
cache/*
output/error/*

# But don't ignore the output directory itself
!output/
!output/error/
!cache/

# Don't ignore .gitkeep files
!output/.gitkeep
!output/error/.gitkeep
!cache/.gitkeep